// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Titillium Web', sans-serif;
@black: #000000;
@white: #ffffff;
@gray: #656565;
@grayhover: #424242;
@red: #E00718;
@redhover: #910b16;
@blue: #0b98af;
@bluehover: #036574;
@green: #4dad4d;
@greenhover: #368136;

/* LOADER */
.loader-css {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    border: 2px solid @black;
    border-color: @black transparent @black transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

/* --------------------------------------------------------------
    CUSTOM OVERRIDES
-------------------------------------------------------------- */
.toplevel_page_paxs_dashboard {
    & #wpcontent {
        padding: 0;
    }

    & ul#adminmenu a.wp-has-current-submenu:after,
    ul#adminmenu>li.current>a.current:after {
        border-right-color: @gray;
    }
}

.paxs_page_paxs_main_data {
    & #wpcontent {
        padding: 0;
    }

    & ul#adminmenu a.wp-has-current-submenu:after,
    ul#adminmenu>li.current>a.current:after {
        border-right-color: @gray;
    }
}

.paxs_page_paxs_reports_data {
    & #wpcontent {
        padding: 0;
    }

    & ul#adminmenu a.wp-has-current-submenu:after,
    ul#adminmenu>li.current>a.current:after {
        border-right-color: @gray;
    }
}

/* --------------------------------------------------------------
    MAIN DASHBOARD
-------------------------------------------------------------- */
.paxs_custom_options-header {
    display: block;
    background: @gray url(../img/pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 2rem;
    font-family: @mainfont;
}

.pass_custom_options_title {
    .display(flex);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid @gray;
    font-family: @mainfont;
    padding: .5rem 2rem;
    padding-right: 4rem;

    & h1 {
        font-weight: 300;
    }

    & button {
        cursor: pointer;
        background: @green;
        color: white;
        border: 0;
        padding: 1rem;
        padding-bottom: .8rem;
        font-size: 1rem;
        vertical-align: middle;
        line-height: 1rem;
        border-radius: 5px;
        font-weight: 600;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @greenhover;
        }
    }
}

.paxs_custom_options-content {
    padding: 2rem;
    max-width: 95%;
}

/* --------------------------------------------------------------
    DATATABLES
-------------------------------------------------------------- */
.paxs_custom_options-content {

    & .dataTables_wrapper {
        font-family: @mainfont;
    }

    & .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
        font-weight: 700;
        font-size: 0.9rem;
    }

    & .dataTable {
        width: 100% !important;
        padding: 1rem 0;
        border-bottom: 0 !important;
    }

    & .dataTables_wrapper .dataTables_length select {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 5px;
        background-color: transparent;
        padding: 4px;
        min-width: 50px;
    }

    & .dataTable thead tr {
        font-weight: bold;
        background: @gray;
        color: white;

        & th {
            border-left: 1px solid black !important;
            text-align: left !important;
            font-size: 1rem;
        }

        & th:nth-child(1) {
            border-left: 0 !important;
        }

        & th:last-child {
            text-align: center !important;
        }
    }

    & .dataTable tbody .odd {
        background: #e4e4e4 !important;
    }

    & .dataTable tbody td {
        font-size: 0.9rem;
        padding: 12px 10px;
        text-transform: uppercase;

        & a {
            color: white;
            background: @gray;
            padding: 5px;
            cursor: pointer;
            margin: 5px !important;
            border-radius: 5px;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @grayhover;
            }

            &:nth-child(2) {
                background: @blue;

                &:hover {
                    background: @bluehover;
                }
            }

            &:nth-child(3) {
                background: @red;

                &:hover {
                    background: @redhover;
                }
            }
        }
    }

    & .dataTable tbody tr td:last-child {
        text-align: center;
    }

    & .dataTables_wrapper .dataTables_paginate .paginate_button {
        border: 1px solid #d4d4d4;
    }
}

/* MODAL CONTAINER */
.modal-container {
    font-family: @mainfont;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .display(flex);
    align-items: center;
    justify-content: center;
    opacity: 1;
    .transition(all .3s ease-in-out .1s);

    & .modal-content {
        background: @white;
        height: auto;
        width: 100%;
        max-width: 1070px;
        padding: 0 2rem;
        box-shadow: 0 0 36px #2b2b2b;
        padding-bottom: 2rem;
        opacity: 1;
        .transition(all .3s ease-in-out);

        & .paxs-modal-controller {
            .display(flex);
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid black;
            margin-bottom: 1rem;
            font-size: 1rem;
        }

        & .form-controller {
            .display(flex);
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            & .form-controller-wrapper {
                flex: 0 0 64%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            & .form-controller-image-wrapper {
                flex: 0 0 35%;

                & .button-image-wrapper {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    & .upload-file-btn {
                        background: @green;
                        color: white;
                        border: 0;
                        margin-top: -5px;
                        padding: 7px;
                        cursor: pointer;
                        .transition(all .3s ease-in-out);

                        &:hover {
                            background: @greenhover;
                            color: @white;
                        }
                    }
                }

                & img {
                    max-height: 200px;
                    width: auto;
                    margin: 1rem auto;
                    display: block;
                }
            }

            & .input-wrapper {
                flex: 0 0 46%;
                padding: 0.5rem;
                margin-bottom: 0.3rem;

                label {
                    font-family: @mainfont;
                    display: block;
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                & input {
                    width: 100%;
                    border-radius: 4px;
                    height: auto;
                    padding: 6px;
                }
            }

            & .submit-wrapper {
                width: 100%;
                padding: 1rem 0.5rem;
                padding-bottom: 0;
                text-align: left;
                font-size: 1.2rem;
                .display(flex);
                align-items: center;
                justify-content: space-between;

                & button {
                    cursor: pointer;
                    background: @green;
                    color: white;
                    border: 0;
                    padding: 1rem;
                    padding-bottom: .8rem;
                    font-size: 1rem;
                    vertical-align: middle;
                    line-height: 1rem;
                    border-radius: 5px;
                    font-weight: 600;
                    .transition(all .3s ease-in-out);

                    &:hover {
                        background: @greenhover;
                    }
                }
            }
        }
    }
}

.modal-hidden {
    display: none !important;
    opacity: 0 !important;
}

.modal-content-hidden {
    opacity: 0 !important;
}

.close-modal {
    background: none;
    border: 0;
    .transform(rotate(45deg));
    outline: 0 !important;
    cursor: pointer;
}

.paxs-new-registry-info {
    .display(flex);
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    & .paxs-hist-new-wrapper {
        flex: 0 0 65%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;


    }

    & .paxs-hist-image-wrapper {
        flex: 0 0 30%;

        & img {
            max-height: 200px;
            width: auto;
            margin: 10px auto;
            display: block;
        }
    }

    & .label-wrapper {
        flex: 0 0 45%;
        padding: .5rem;
        font-size: 1rem;
    }
}

.historical-form-controller {
    & .table {
        width: 100%;
        max-width: 100%;

        & tr {
            & th {
                background: @gray;
                padding: 0.8rem;
                color: white;
                font-weight: bold;
                border-left: 1px solid black !important;
                text-align: left !important;
                font-size: 1rem;

                &:first-child {
                    border-left: 0 !important;
                }

                &:last-child {
                    text-align: center !important;
                }
            }

            & td {
                padding: .5rem;
                border-left: 1px solid black;

                &:first-child {
                    border-left: 0 !important;
                }
            }


        }

        & .new-row {
            text-align: right;

            & a {
                cursor: pointer;
                background: @green;
                color: white;
                padding: 0.2rem;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: @greenhover;
                }
            }
        }

        & .add-row {
            & .form-control {
                max-width: 135px;
                width: 100%;
                padding: 0.1rem;
            }

            & .add-btn {
                background: @green;
                color: @white;
                border: 0;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: @greenhover;
                }
            }

            & .edit-btn {
                background: @green;
                color: @white;
                border: 0;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: @greenhover;
                }
            }

            & .cancel-btn {
                background: @gray;
                color: @white;
                border: 0;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: @grayhover;
                }
            }
        }
    }
}

.historical-item {
    & td:last-child {
        text-align: center;
    }

    & td {
        & a {
            color: white;
            padding: 3px;
            cursor: pointer;
            margin: 0;
            border-radius: 5px;
            .transition(all .3s ease-in-out);

            & .dashicons {
                font-size: 17px;
            }

            &:nth-child(1) {
                background: @blue;

                &:hover {
                    background: @bluehover;
                }
            }

            &:nth-child(2) {
                background: @gray;

                &:hover {
                    background: @grayhover;
                }
            }
        }
    }
}

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;

    & .dashboard-item {
        & .paxs-image-wrapper {
            border: 6px solid white;
            background: @gray;
            border-radius: 100%;
            overflow: hidden;
            padding: 0.8rem;
            .transition(all .3s ease-in-out);

            & img {
                padding: 1rem;
                max-width: 80px;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                background: @grayhover;

                & img {
                    .transform(scale(.8));
                }
            }
        }

        & a {
            text-decoration: none;
        }

        & h3 {
            color: #23282d;
            font-size: 1.4rem;
            margin: 1em 0;
            font-family: 'Titillium Web', sans-serif;
        }
    }
}

/* --------------------------------------------------------------
    REPORTS
-------------------------------------------------------------- */

.paxs-reports-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.paxs-report-generator-container {
    flex: 0 0 65%;
    border: 5px solid black;
    width: 100%;
    min-height: 75vh;
    margin-left: 2rem;
    background: white;
}

.paxs-custom-reportes-container {
    flex: 0 0 25%;
    font-family: 'Titillium Web', sans-serif;

    & .paxs-report-item-selector {
        background: white;
        padding: .5rem 1.5rem;
        padding-bottom: 1rem;
        min-height: 140px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 2rem;
        box-sizing: border-box;

        & .form-control {
            border: 0 !important;
            border-radius: 0 !important;
            width: 100%;
            background: #ececec !important;
            height: auto !important;
            padding: 0.5rem !important;
            margin-bottom: 0.5rem;
        }

        & .btn-submit {
            background: gray;
            color: white;
            font-size: 0.9rem;
            border: 0;
            padding: 0.5rem 1rem;
            width: 100%;
            margin-top: 1rem;
            cursor: pointer;
            .transition(all .3s ease-in-out);

            &:hover {
                background: #5E5E5E;
            }
        }

        & .modal-loader {
            padding: 1rem 0;
            text-align: center;
        }

        & h2 {
            color: #23282d;
            font-size: 1.1em;
            margin: 0;
            padding: 1rem 0;
        }
    }
}